name: Python Lint & Test

on: [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r .github/workflows/requirements.txt
          
      
      - name: Run mypy
        run: mypy /crs
      
      - name: Check isort
        run: isort --check-only --diff /crs
      
      - name: Run flake8
        run: flake8 /crs
      
      - name: Check black
        run: black --diff --check /crs

      - name: Run pytest
        run: pytest test/ -v
